<div class="row">
    <div class="col-4 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Website</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @for (item of userList(); track $index){
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.website }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.email }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-4 table-responsive">
        <ul>
            @for (item of todoList(); track $index){
            <li>{{ item.title }}</li>
            }
        </ul>
    </div>
    <div class="col-4 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Full Name</th>
                </tr>
            </thead>
            <tbody>
                @for (item of busUserList(); track $index){
                <tr>
                    <td>{{ item.userId }}</td>
                    <td>{{ item.userName }}</td>
                    <td>{{ item.role }}</td>
                    <td>{{ item.fullName }}</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>